.header{
    color:wheat;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 45px 0px;
    font-size: 25px;
}

.heading{
    font-size: 105%;
    text-align: center;
    width: 60%;

}
.logo1{
    width: 15%;
    text-align: center;
}
.likes{
    width: 15%;
    text-align: right;
}

button{
    color: wheat;
    background-color:rgb(23, 94, 226);
    border-radius: 9px;
    padding: 5px;
    width: fit-content;
    display: block;
    margin: auto;
    font-size: larger;
    font-weight: bold;
}


.box{
    width: 75%;
    margin: auto;
    
}



.input_text{
    border-radius: 9px;
    padding: 5px;
    width: 100%;
    display: block;
    height: 45px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 35px;
    text-align: center;
    background-color:wheat;

}
.text{
    color: wheat;
    font-size: 25px;
}
.lowermain{
    display:block;
    width: fit-content;
    margin: auto;
}
